<script context="module" lang="ts">
    import type { TrackPage } from "$lib/AudioPlayer/types";
    import type { Load } from "@sveltejs/kit";

    export const load: Load = async ({ params, url, fetch }) => {
        const { album, language, track } = params;

        const contentPageUrl = `/listen/${album}/${language}/${track}.json`;
        const contentResponse: Response = await fetch(contentPageUrl);
        if (!contentResponse.ok) {
            return;
        }
        const contentPage: TrackPage = await contentResponse.json();

        return {
            props: { contentPage, key: url.pathname },
        };
    };
</script>

<script lang="ts">
    import { page } from "$app/stores";
    import { browser } from "$app/env";
    import { tick } from "svelte";
    import { fade } from "svelte/transition";

    import {
        activeIndex,
        album,
        instrumentalModeImage,
        playStatus,
        playPosition,
        showInfo,
        duration,
        PlayStatus,
        activeTrack,
        nonInstVisu,
    } from "$lib/AudioPlayer/stores";
    import scrollToFit from "$lib/scroll-to-fit";
    import { player } from "$lib/AudioPlayer/player";

    import Visualizer from "$lib/AudioPlayer/Visualizer.svelte";
    import PlayerButtons from "$lib/AudioPlayer/PlayerButtons.svelte";
    import TimeBar from "$lib/AudioPlayer/TimeBar.svelte";
    import Popup from "$lib/AudioPlayer/Components/Popup.svelte";
    import AboutTrackRu from "$lib/AudioPlayer/AboutTrackRu.svelte";
    import AboutTrackEn from "$lib/AudioPlayer/AboutTrackEn.svelte";
    import AboutTrackZh from "$lib/AudioPlayer/AboutTrackZh.svelte";
    import AboutTrackKo from "$lib/AudioPlayer/AboutTrackKo.svelte";
    import { prefetch } from "$app/navigation";
    import { buildIntervalTree } from "$lib/AudioPlayer/track-page-utils";
    import type IntervalTree from "@flatten-js/interval-tree";
    import Head from "$lib/AudioPlayer/Head.svelte";

    export let contentPage: TrackPage;
    export let key: string;

    let contentElement: HTMLElement;
    let activeCaptions = [];
    let captionElements: HTMLElement[];
    let prefetchPrepared = false;

    let intervalTree = null as IntervalTree<number>;

    const InfoComponents = {
        ru: AboutTrackRu,
        en: AboutTrackEn,
        zh: AboutTrackZh,
        ko: AboutTrackKo,
    };

    $: intervalTree = buildIntervalTree(contentPage);

    let followPlayPosition = (pos: number) => {
        if (!intervalTree || !captionElements) {
            return;
        }

        let transitionDuration = 200;
        let newActiveCaptions = intervalTree.search([
            pos * 1000 + transitionDuration / 2,
            pos * 1000 + transitionDuration / 2,
        ]) as number[];

        let same =
            newActiveCaptions.length === activeCaptions.length &&
            newActiveCaptions.every(
                (element, index) => element === activeCaptions[index]
            );

        if (!same) {
            for (let i of activeCaptions) {
                let captionEl = captionElements[i];
                captionEl?.classList.remove("captions-line-active");
            }

            for (let i of newActiveCaptions) {
                let captionEl = captionElements[i];
                captionEl.classList.add("captions-line-active");
            }

            if (newActiveCaptions.length) {
                let elements = newActiveCaptions.map((i) => captionElements[i]);
                scrollToFit({ elements, container: contentElement });
            }

            activeCaptions = newActiveCaptions;
        }
    };

    $: if (browser) followPlayPosition($playPosition);

    const onTrackChange = (track: string) => {
        let idx = null;
        for (let i = 0; i < $album.tracks.length; i++) {
            if ($album.tracks[i].page === track) {
                idx = i;
                break;
            }
        }
        if ($activeIndex !== idx) {
            if (browser && idx !== null) {
                player.loadTrack(idx);
                if (player.hasPlayed) {
                    player.play();
                }
            }
            prefetchPrepared = false;
        }
    };

    $: onTrackChange($page.params.track);

    $: instrumentalModeImage.set(contentPage.metadata.image);

    let captionClicked = (e: MouseEvent) => {
        let target = e.target as HTMLElement;
        let lineId = parseInt(target.dataset.lineId);
        let start = contentPage.timings[lineId][0];
        player.seek(start / 1000);
        player.play();
    };

    let attachCaptionEvents = async () => {
        if (browser) {
            await tick(); // FIXME: <- there should be a better way to implement this
            contentElement.scrollTo({ top: 0, behavior: "auto" });

            let lineElements =
                contentElement.querySelectorAll("span[data-line-id]");
            let sortedCaptionElements: HTMLElement[] = [];
            lineElements.forEach((el: HTMLElement) => {
                sortedCaptionElements[parseInt(el.dataset.lineId, 10)] = el;
                el.addEventListener("click", captionClicked);
            });
            captionElements = sortedCaptionElements;
        }
    };

    $: contentPage && contentElement && attachCaptionEvents();

    const preparePrefetch = () => {
        const nextTrackIndex = $activeIndex + 1;
        console.log(`preparePrefetch ${nextTrackIndex}`);

        if (nextTrackIndex < $album.tracks.length) {
            const nextTrack = $album.tracks[nextTrackIndex];
            prefetch(nextTrack.url);
            player.prefetch(nextTrackIndex);
        }
        prefetchPrepared = true;
    };

    $: !prefetchPrepared &&
        $playStatus == PlayStatus.Playing &&
        $playPosition > $duration - 15 &&
        preparePrefetch();
</script>

<Head trackPageMetadata={contentPage.metadata} />

<div class="flex-1 flex flex-col overflow-hidden relative">
    {#if !$activeTrack?.instrumental && $nonInstVisu}
        <div
            class="absolute inset-0 flex flex-col opacity-10 md:px-4 lg:px-8 mt-16"
        >
            <Visualizer />
        </div>
    {/if}

    <div
        class="relative
        flex-1
        scroll-smooth
        content text-shadow focus:outline-none
        {$activeTrack?.instrumental ? 'overflow-y-hidden' : 'overflow-y-auto'}
        "
        tabindex="0"
        on:mouseover={(_ex) => contentElement?.focus()}
        on:focus={() => {}}
        bind:this={contentElement}
    >
        {#key key}
            <div
                class="absolute top-0 left-0 right-0 
                flex flex-col min-h-full
                p-4 lg:p-8 pb-0 lg:pb-0"
                in:fade={{ duration: 300, delay: 150 }}
                out:fade={{ duration: 300 }}
            >
                <h1
                    class="text-2xl md:text-3xl lg:text-3xl xl:text-4xl 2xl:text-5xl
                    mb-5 md:mb-6 lg:mb-7 xl:mb-8
                    text-center font-black mt-0 leading-none
                    drop-shadow-md"
                    class:mb-0={$activeTrack?.instrumental}
                >
                    {String($activeIndex + 1).padStart(2, "0")}.
                    {contentPage.metadata.title}
                </h1>
                {#if $activeTrack?.instrumental}
                    <Visualizer />
                {:else}
                    <div class="my-auto">
                        {@html contentPage.content}
                    </div>
                {/if}
            </div>
        {/key}
    </div>
</div>

{#if browser && $activeIndex !== null}
    <div class="relative flex flex-col flex-none mb-4 vnarrow:mb-2 select-none">
        <TimeBar />
        <PlayerButtons />
    </div>
{/if}

<Popup bind:show={$showInfo}>
    <svelte:component
        this={InfoComponents[$page.params.language]}
        albumMetadata={$album}
        contentPageMetadata={contentPage.metadata}
        activeTrackMetadata={$album.tracks[$activeIndex]}
    />
</Popup>
