@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-base h-full;
  -webkit-tap-highlight-color: transparent;
}

body * {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent
}

body ::-webkit-scrollbar {
  @apply h-2.5 w-2.5 md:h-3 md:w-3;
}

body ::-webkit-scrollbar-track {
  @apply bg-transparent;
}

body ::-webkit-scrollbar-thumb {
  @apply bg-white bg-opacity-30 rounded-full h-14
  bg-clip-content border-4 border-solid border-transparent;
}

.full-height {
  height: 100%;
  height: calc(100% + env(safe-area-inset-top));
}

@layer utilities {
  .h-full-without-offset {
    @apply h-full;
  }

  .h-full-with-offset {
    height: calc(100% - 100px);
  }

  .text-shadow {
    text-shadow: 1px 1px 3px black;
  }
}

.overflow-scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.content > :first-child {
  @apply mt-0;
}

.content p {
  @apply mb-4
  text-base md:text-lg lg:text-xl
  leading-normal md:leading-relaxed;
}

.content .poem {
  @apply mx-auto;
  width: fit-content;
}

.content .poem strong {
  @apply block text-center;
}

.captions-line {
  @apply cursor-pointer rounded
  transition-all motion-reduce:transition-none duration-500
  bg-transparent hoverable:hover:bg-black
  decoration-clone
  py-1 -my-1 px-0.5 -mx-0.5
  md:py-1.5 md:-my-1.5 md:px-1 md:-mx-1
  lg:py-1 lg:-my-1 lg:px-0.5 lg:-mx-0.5;
}

.captions-line-active {
  @apply bg-white text-black hoverable:hover:bg-white hoverable:hover:text-black;
  text-shadow: none;
}

@keyframes shapeshifter {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1008px 0px;
  }
}

/* shapeshifter icons */

.shapeshifter {
  animation-duration: 300ms;
  animation-timing-function: steps(18);
  animation-fill-mode: forwards;
  animation-name: shapeshifter;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
}

.icopause {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="56" height="56"><path d="m18 5h-4v14h4v-14m-8 0h-4v14h4v-14" fill="%23ffffff"/></svg>');
}

.icoplay {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="56" height="56"><path d="m8 5v7h11l-11-7m0 7v7l11-7h-11" fill="%23ffffff"/></svg>');
}

.shapeshifter.icopause {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456 24" width="1064" height="56"><path d="m8 5v7h11l-11-7m0 7v7l11-7h-11m24.1-7.04-0.079 6.98 11 0.125 3.28e-4 -0.029-10.9-7.07m-0.0794 7.01-0.079 6.98 11.1-6.82 3.28e-4 -0.029-11-0.125m24.3-7.14-0.355 6.89 11.1 0.572 0.00675-0.131-10.7-7.33m-0.362 7.02-0.355 6.89 11.4-6.19 0.00675-0.131-11.1-0.572m24.8-7.28-0.899 6.68 11.2 1.5 0.0454-0.338-10.3-7.85m-0.944 7.02-0.899 6.68 12-4.85 0.0454-0.338-11.2-1.5m25.7-7.4-1.76 6.23 11.1 3.13 0.19-0.675-9.52-8.69m-1.95 6.91-1.76 6.23 12.7-2.43 0.19-0.675-11.1-3.13m27.2-7.32-2.82 5.39 10.6 5.53 0.57-1.09-8.31-9.83m-3.39 6.47-2.82 5.39 12.8 1.23 0.57-1.09-10.6-5.53m28.9-6.72-3.7 4.24 9.32 8.14 1.2-1.38-6.82-11m-4.91 5.62-3.7 4.24 11.8 5.28 1.2-1.38-9.32-8.14m30.3-5.62-4.18 3.14 7.66 10.2 1.89-1.42-5.37-11.9m-6.07 4.55-4.18 3.14 9.96 8.5 1.89-1.42-7.66-10.2m31.2-4.4-4.36 2.26 6.03 11.6 2.47-1.28-4.13-12.6m-6.83 3.54-4.36 2.26 7.92 10.6 2.47-1.28-6.03-11.6m31.7-3.33-4.39 1.61 4.6 12.5 2.91-1.07-3.13-13m-7.3 2.68-4.39 1.61 6.08 12 2.91-1.07-4.6-12.5m32-2.46-4.34 1.14 3.42 13.1 3.24-0.847-2.32-13.4m-7.58 1.98-4.34 1.14 4.52 12.8 3.24-0.847-3.42-13.1m32.1-1.77-4.28 0.785 2.46 13.4 3.48-0.639-1.67-13.6m-7.76 1.42-4.28 0.785 3.26 13.3 3.48-0.639-2.46-13.4m32.1-1.24-4.2 0.526 1.71 13.7 3.65-0.457-1.16-13.7m-7.86 0.983-4.2 0.526 2.26 13.6 3.65-0.457-1.71-13.7m32.1-0.832-4.14 0.337 1.12 13.8 3.78-0.307-0.762-13.8m-7.92 0.644-4.14 0.337 1.48 13.8 3.78-0.307-1.12-13.8m32.1-0.525-4.09 0.201 0.681 13.9 3.87-0.19-0.464-13.9m-7.96 0.391-4.09 0.201 0.899 13.9 3.87-0.19-0.681-13.9m32.1-0.302-4.05 0.106 0.365 13.9 3.93-0.103-0.248-13.9m-7.98 0.209-4.05 0.106 0.482 13.9 3.93-0.103-0.365-13.9m32.1-0.149-4.02 0.0444 0.155 14 3.97-0.0439-0.106-14m-7.99 0.0884-4.02 0.0444 0.204 14 3.97-0.0439-0.155-14m32-0.0542-4 0.0106 0.0369 14 3.99-0.0105-0.0249-14m-8 0.0211-4 0.0106 0.0489 14 3.99-0.0105-0.0369-14m32-0.0103h-4v14h4v-14m-8 0h-4v14h4v-14" fill="%23ffffff"/></svg>');
}

.shapeshifter.icoplay {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456 24" width="1064" height="56"><path d="m6 19h4v-14h-4v14m8 0h4v-14h-4v14m15.9-0.0905 4.02 0.0455 0.158-14-3.97-0.045-0.208 14m7.99 0.0905 4.02 0.0455 0.108-14-3.97-0.045-0.158 14m15.7-0.418 4.09 0.211 0.716-13.9-3.86-0.199-0.946 13.9m7.96 0.41 4.09 0.211 0.486-13.9-3.86-0.199-0.716 13.9m15.5-1.12 4.22 0.567 1.83-13.6-3.63-0.488-2.42 13.5m7.84 1.05 4.22 0.567 1.24-13.7-3.63-0.488-1.83 13.6m15.4-2.38 4.35 1.23 3.66-13-3.17-0.896-4.84 12.6m7.53 2.13 4.35 1.23 2.48-13.3-3.17-0.896-3.66 13m15.8-4.22 4.36 2.28 6.07-11.6-2.45-1.29-7.97 10.6m6.81 3.57 4.36 2.28 4.16-12.6-2.45-1.29-6.07 11.6m17-6.04 4.04 3.54 8.31-9.51-1.63-1.43-10.7 7.4m5.68 4.96 4.04 3.54 5.9-11.6-1.63-1.43-8.31 9.51m18.7-7.09 3.46 4.62 9.78-7.34-0.983-1.31-12.3 4.03m4.44 5.93 3.46 4.62 7.3-10.6-0.983-1.31-9.78 7.34m20.2-7.47 2.8 5.4 10.6-5.49-0.562-1.08-12.8 1.17m3.37 6.48 2.8 5.4 8.33-9.81-0.562-1.08-10.6 5.49m21.4-7.55 2.18 5.94 11-4.03-0.31-0.843-12.8-1.06m2.49 6.78 2.18 5.94 9.08-9.13-0.31-0.843-11 4.03m22.2-7.51 1.65 6.3 11.1-2.91-0.165-0.63-12.6-2.76m1.81 6.93 1.65 6.3 9.63-8.58-0.165-0.63-11.1 2.91m22.7-7.44 1.2 6.54 11.2-2.05-0.0834-0.454-12.3-4.04m1.28 7 1.2 6.54 10-8.14-0.0834-0.454-11.2 2.05m23.2-7.35 0.839 6.71 11.2-1.39-0.0393-0.315-12-5m0.879 7.02 0.839 6.71 10.4-7.79-0.0393-0.315-11.2 1.39m23.5-7.27 0.555 6.82 11.1-0.904-0.0168-0.206-11.7-5.71m0.572 7.03 0.555 6.82 10.6-7.52-0.0168-0.206-11.1 0.904m23.7-7.2 0.338 6.9 11.1-0.544-0.00612-0.125-11.4-6.23m0.345 7.02 0.338 6.9 10.7-7.32-0.00612-0.125-11.1 0.544m23.9-7.14 0.182 6.95 11-0.289-0.00175-0.067-11.2-6.59m0.183 7.01 0.182 6.95 10.9-7.17-0.00175-0.067-11 0.289m23.9-7.09 0.0771 6.98 11-0.122-3.1e-4 -0.028-11.1-6.83m0.0775 7.01 0.0771 6.98 10.9-7.07-3.09e-4 -0.028-11 0.122m24-7.05 0.0185 6.99 11-0.029-1.9e-5 -7e-3 -11-6.96m0.0185 7 0.0185 6.99 11-7.02-1.8e-5 -7e-3 -11 0.029m24-7.01v7h11l-11-7m0 7v7l11-7h-11" fill="%23ffffff"/></svg>');
}

@keyframes progress-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress {
  animation: progress-stripes 2s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 40px 40px;
}