<script lang="ts">
  import { page } from "$app/stores";
  import NavButton from "./_components/NavButton.svelte";

  import "./app.postcss";

  $: language = $page.params.language || "ru";
  $: path = $page.url.pathname;

  const getCanonicalUrl = (url: URL) => {
    return (
      "https://complexnumbers.ru/" +
      url.pathname +
      (url.pathname.endsWith("/") ? "" : "/")
    );
  };
</script>

<svelte:head>
  <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" />
  <link rel="canonical" href={getCanonicalUrl($page.url)} />
</svelte:head>

<header class="relative" style="background: #fd601f;">
  <a href={path !== "/" ? "/" : null}>
    <img
      src="/images/lelogorus.jpg"
      class="block px-3 md:px-0 md:mx-auto md:h-64 select-none"
      alt=""
    />
  </a>

  <div class="md:absolute bottom-0 left-0 right-0">
    <nav
      class="w-full md:w-11/12 lg:w-9/12 xl:w-8/12 2xl:w-6/12 mx-0 md:mx-auto
      md:gap-0.5 flex flex-row flex-wrap md:flex-nowrap
      font-bold text-white text-sm"
    >
      <NavButton href="/">
        {#if language == "en"}Music and video{:else}Музыка и видео{/if}
      </NavButton>

      <NavButton href="/story/">
        {#if language == "en"}History and people{:else}История и люди{/if}
      </NavButton>

      <NavButton href="/shops/">
        {#if language == "en"}Shops and others{:else}Магазины и прочее{/if}
      </NavButton>

      <NavButton href="http://vk.com/club23865151">
        VK
      </NavButton>

      <NavButton
        href="https://drive.google.com/drive/folders/1IfQERQ2hdd7sCvmnPAbqx3URyZ6WRHEe"
        title="На Commons тоже есть"
      >
        {#if language == "en"}All music in flac{:else}Вся музыка во flac{/if}
      </NavButton>
    </nav>
  </div>
</header>

<div class="bg-black text-red text-sm text-left md:text-justify">
  <article
    class="w-full md:w-11/12 lg:w-9/12 xl:w-8/12 2xl:w-6/12 px-4 md:px-0 md:mx-auto py-4 prose prose-sm max-w-none mb-4"
    id="content"
  >
    <slot />
  </article>
</div>
