<script context="module" lang="ts">
    import type { Load } from "@sveltejs/kit";
    import type { AlbumData, AlbumsData } from "./tracks.json";

    export const load: Load = async ({ fetch }) => {
        const response = await fetch(`/tracks.json`);
        if (response.ok) {
            const page = (await response.json()) as AlbumsData;
            return { props: page };
        }
    };
</script>

<script lang="ts">
    import FilterButton from "./_components/FilterButton.svelte";
    import TrackHeaderItem from "./_components/TrackHeaderItem.svelte";
    import TrackTableCell from "./_components/TrackTableCell.svelte";

    export let albums: AlbumData[];

    let allAlbums: string[];
    let allMusicBy: string[];
    let allLyricsBy: string[];
    let allPerformedBy: string[];

    let albumsFilter: string[];
    let musicByFilter: string[];
    let lyricsByFilter: string[];
    let performedByFilter: string[];

    type SortBy =
        | "trackReleaseDate"
        | "trackTitle"
        | "albumReleaseDate"
        | "albumTitle";
    let sortBy: SortBy = "trackReleaseDate";

    type Order = "asc" | "desc";
    let order: Order = "desc";

    type Track = {
        trackNumber: number;
        trackReleaseDate: string;
        trackTitleFull: string;
        trackTitle: string;
        trackSubtitle: string;
        albumReleaseDate: string;
        albumTitle: string;
        musicBy: string[];
        lyricsBy: string[];
        performedBy: string[];
    };
    let tracks: Track[] = [];

    const sortByFrequency = (array: string[]) => {
        var frequency = {};

        array.forEach((value) => {
            frequency[value] = 0;
        });

        var uniques = array.filter((value) => ++frequency[value] == 1);

        return uniques.sort((a, b) => frequency[b] - frequency[a]);
    };

    const rebuildTrackTable = (
        albums: AlbumData[],
        albumsFilter: string[],
        musicByFilter: string[],
        lyricsByFilter: string[],
        performedByFilter: string[],
        sortBy: SortBy,
        order: Order
    ) => {
        tracks = [];

        for (const album of albums) {
            for (let i = 0; i < album.tracks.length; i++) {
                const track = album.tracks[i];
                const match = track.title.match("^(.+) \\((.+)\\)$");
                const trackTitleFull = track.title;
                const trackTitle = match ? match[1] : track.title;
                const trackSubtitle = match ? match[2] : "";
                const musicBy = track.musicBy?.split(", ") || [];
                const lyricsBy = track.lyricsBy?.split(", ") || [];
                const performedBy = track.performedBy?.split(", ") || [];

                const matchesFilter = (values: string[], filter: string[]) => {
                    return (
                        filter?.length &&
                        filter.filter((value) => values.includes(value))
                            .length === 0
                    );
                };

                if (matchesFilter([album.title], albumsFilter)) {
                    continue;
                }

                if (matchesFilter(musicBy, musicByFilter)) {
                    continue;
                }

                if (matchesFilter(lyricsBy, lyricsByFilter)) {
                    continue;
                }

                if (matchesFilter(performedBy, performedByFilter)) {
                    continue;
                }

                tracks.push({
                    trackNumber: i,
                    albumTitle: album.title,
                    albumReleaseDate: album.releaseDate,

                    trackTitleFull,
                    trackTitle,
                    trackSubtitle,
                    trackReleaseDate: track.releaseDate,
                    musicBy,
                    lyricsBy,
                    performedBy,
                });
            }
        }

        const comparators = {
            trackReleaseDate: (a: Track, b: Track) => {
                return a.trackReleaseDate.localeCompare(b.trackReleaseDate);
            },
            trackTitle: (a: Track, b: Track) => {
                return a.trackTitle.localeCompare(b.trackTitle);
            },
            albumReleaseDate: (a: Track, b: Track) => {
                const cmp = a.albumReleaseDate.localeCompare(
                    b.albumReleaseDate
                );
                if (cmp) {
                    return cmp;
                }
                if (a.trackNumber < b.trackNumber) return -1;
                if (a.trackNumber > b.trackNumber) return 1;
                return 0;
            },
            albumTitle: (a: Track, b: Track) => {
                const cmp = a.albumTitle.localeCompare(b.albumTitle);
                if (cmp) {
                    return cmp;
                }
                if (a.trackNumber < b.trackNumber) return -1;
                if (a.trackNumber > b.trackNumber) return 1;
                return 0;
            },
        };

        tracks.sort(comparators[sortBy]);
        if (order === "desc") {
            tracks.reverse();
        }

        tracks = tracks;
    };

    const rebuildFilters = (albums: AlbumData[]) => {
        let tracks = [];

        for (const album of albums) {
            for (const track of album.tracks) {
                const musicBy = track.musicBy?.split(", ") || [];
                const lyricsBy = track.lyricsBy?.split(", ") || [];
                const performedBy = track.performedBy?.split(", ") || [];

                tracks.push({
                    albumTitle: album.title,
                    musicBy,
                    lyricsBy,
                    performedBy,
                });
            }
        }
        allAlbums = sortByFrequency(tracks.map((el) => el.albumTitle));
        allMusicBy = sortByFrequency(tracks.map((el) => el.musicBy).flat());
        allLyricsBy = sortByFrequency(tracks.map((el) => el.lyricsBy).flat());
        allPerformedBy = sortByFrequency(
            tracks.map((el) => el.performedBy).flat()
        );
    };

    $: rebuildFilters(albums);

    $: rebuildTrackTable(
        albums,
        albumsFilter,
        musicByFilter,
        lyricsByFilter,
        performedByFilter,
        sortBy,
        order
    );

    const sortChange = (newSortBy: SortBy) => {
        if (sortBy !== newSortBy) {
            sortBy = newSortBy;
            order = "asc";
        } else {
            order = order === "asc" ? "desc" : "asc";
        }
    };
</script>

<h2>Релизы проектов Complex Numbers и Виктор Аргонов project</h2>

<p>
    Объединённая дискография проектов Complex Numbers и Виктор Аргонов project
    включает в себя 5 завершённых студийных альбома, а также 2 техно-оперы и 1
    симфонию. На этой странице приведена таблица, описывающая все треки,
    изданные за период существования проектов.
</p>

<div class="-mx-4 md:mx-0">
    <table class="w-full">
        <tr class="select-none">
            <TrackHeaderItem
                mode="calendar"
                sorting={sortBy === "trackReleaseDate" ? order : null}
                on:click={() => {
                    sortChange("trackReleaseDate");
                }}
            >
                Дата премьеры
            </TrackHeaderItem>
            <TrackHeaderItem
                mode="alphabetical"
                sorting={sortBy === "trackTitle" ? order : null}
                on:click={() => {
                    sortChange("trackTitle");
                }}
            >
                Название композиции<br />(ключевая фраза)
            </TrackHeaderItem>
            <TrackHeaderItem
                mode="calendar"
                sorting={sortBy === "albumReleaseDate" ? order : null}
                on:click={() => {
                    sortChange("albumReleaseDate");
                }}
            >
                Дата альбома
            </TrackHeaderItem>
            <TrackHeaderItem
                mode="alphabetical"
                sorting={sortBy === "albumTitle" ? order : null}
                on:click={() => {
                    sortChange("albumTitle");
                }}
            >
                <div class="flex">
                    <div class="grow">Название альбома</div>
                    <FilterButton
                        items={allAlbums}
                        bind:active={albumsFilter}
                    />
                </div>
            </TrackHeaderItem>

            <TrackHeaderItem nomobile>
                <div class="flex">
                    <div class="grow">Музыка, аранжировка</div>
                    <FilterButton
                        items={allMusicBy}
                        bind:active={musicByFilter}
                    />
                </div>
            </TrackHeaderItem>

            <TrackHeaderItem nomobile>
                <div class="flex">
                    <div class="grow">Текст</div>
                    <FilterButton
                        items={allLyricsBy}
                        bind:active={lyricsByFilter}
                    />
                </div>
            </TrackHeaderItem>

            <TrackHeaderItem nomobile>
                <div class="flex">
                    <div class="grow">Вокал</div>
                    <FilterButton
                        items={allPerformedBy}
                        bind:active={performedByFilter}
                    />
                </div>
            </TrackHeaderItem>
        </tr>

        <tr class="md:hidden bg-stone-900/50 pt-2 select-none">
            <th class="font-bold" colspan="4">
                <div class="flex">
                    <span class="inline-flex flex-grow p-3 mr-2">
                        Музыка, аранжировка
                        <FilterButton
                            items={allMusicBy}
                            bind:active={musicByFilter}
                        />
                    </span>
                    <span class="inline-flex flex-grow p-3 mr-2">
                        Текст
                        <FilterButton
                            items={allLyricsBy}
                            bind:active={lyricsByFilter}
                        />
                    </span>
                    <span class="inline-flex flex-grow p-3 mr-2">
                        Вокал
                        <FilterButton
                            items={allPerformedBy}
                            bind:active={performedByFilter}
                        />
                    </span>
                </div>
            </th>
        </tr>

        {#each tracks as track, i}
            <tr
                class="h-16 border-b-stone-900/50 md:border-b-2
                relative after:hidden after:hover:block
                after:absolute after:-top-1 after:-bottom-1 after:-left-8 after:-right-8
                z-[1] after:z-0
                after:border-2 after:border-orange-500"
            >
                <TrackTableCell>{track.trackReleaseDate}</TrackTableCell>
                <TrackTableCell>
                    <span class="md:whitespace-nowrap">
                        {@html track.trackTitle}
                    </span>
                    {#if track.trackSubtitle}
                        <span class="md:block text-stone-400">
                            ({track.trackSubtitle})
                        </span>
                    {/if}
                </TrackTableCell>
                <TrackTableCell>{track.albumReleaseDate}</TrackTableCell>
                <TrackTableCell>{track.albumTitle}</TrackTableCell>

                <TrackTableCell value={track.musicBy} nomobile />
                <TrackTableCell value={track.lyricsBy} nomobile />
                <TrackTableCell value={track.performedBy} nomobile />
            </tr>
            <tr class="md:hidden border-b-2 border-b-stone-800 h-8">
                <td class="px-3 pt-3 pb-4" colspan="4">
                    {#if track.musicBy.toString() === track.lyricsBy.toString()}
                        <span class="text-stone-400">Музыка, текст:</span>
                        {track.musicBy.join(", ")}<!--
                -->{:else}
                        <span class="text-stone-400">Музыка:</span>
                        {track.musicBy.join(
                            ", "
                        )}<!--
                    -->{#if track.lyricsBy.length}<!--
                    -->,
                            <span class="text-stone-400">текст:</span>
                            {track.lyricsBy.join(
                                ", "
                            )}<!--
                    -->{/if}<!--
                -->{/if}<!--
            
                -->{#if track.performedBy.length}<!--
                -->,
                        <span class="text-stone-400"> вокал: </span>
                        {track.performedBy.join(", ")}
                    {/if}
                </td>
            </tr>
        {/each}
    </table>
</div>
