<script lang="ts">
    import LibLoader from "./_LibLoader.svelte";
    import { page } from "$app/stores";

    let el: HTMLDivElement;

    const embedSWF = function (url: string, width: number, height: number) {
        (window as any).RufflePlayer.config = {
            // Options affecting the whole page
            publicPath: undefined,
            polyfills: true,

            // Options affecting files only
            autoplay: "off",
            unmuteOverlay: "visible",
            backgroundColor: "#000000",
            letterbox: "fullscreen",
            warnOnUnsupportedContent: true,
            contextMenu: true,
            showSwfDownload: true,
            upgradeToHttps: window.location.protocol === "https:",
            maxExecutionDuration: { secs: 15, nanos: 0 },
            logLevel: "error",
            base: null,
            menu: true,
            salign: "",
            scale: "showAll",
            quality: "best",
        };

        const ruffle = (window as any).RufflePlayer.newest();
        const player = Object.assign(el.appendChild(ruffle.createPlayer()), {
            width: width,
            height: height,
            style: `width: ${width}px; height: ${height}px; margin: 0 auto; display: block;`,
        });

        player.load({ url: url });
    };

    function onLoaded() {
        const path = `/swf/files/${$page.params.page}.swf`;
        console.log("Loading swf", path);

        let { innerWidth: width, innerHeight: height } = window;
        const aspect = 1920 / 1080;
        if (width / aspect > height) {
            width = height * aspect;
        } else {
            height = width / aspect;
        }

        embedSWF(path, width, height);
    }
</script>

<LibLoader url="/swf/ruffle.js" on:loaded={onLoaded} />

<div bind:this={el} />
