<script lang="ts">
	import Slider from "$lib/AudioPlayer/Components/Slider.svelte";
	import ToggleSwitch from "./Components/ToggleSwitch.svelte";
	import DropdownButton from "./Components/DropdownButton.svelte";

	import { player } from "./player";
	import {
		duration,
		bufferedTo,
		playPosition,
		playStatus,
		PlayStatus,
		repeatTrack,
		autoplay,
	} from "./stores";
	import { mdiCog } from "@mdi/js";

	$: currTimeDisplay = formatTime($playPosition);
	$: totalTimeDisplay = formatTime($duration);

	let isUserControlled = false;
	let position = 0;

	$: {
		if (!isUserControlled) {
			position = $playPosition;
		}
	}

	let formatTime = (seconds: number) => {
		if (isNaN(seconds)) return "0:00";

		let minutes = Math.floor(seconds / 60) || 0;
		seconds = Math.floor(seconds % 60) || 0;
		let s_seconds = seconds < 10 ? `0${seconds}` : `${seconds}`;

		return `${minutes}:${s_seconds}`;
	};

	let startDrag = (e: CustomEvent) => {
		isUserControlled = true;
	};

	let stopDrag = (e: CustomEvent) => {
		player.seek(e.detail * $duration);
		isUserControlled = false;
	};
</script>

<div class="flex px-4 lg:px-8 space-x-2 items-center text-sm lg:text-base">
	<div class="flex-none text-left font-medium text-shadow">
		{currTimeDisplay}
	</div>
	<div class="flex-grow py-4 vnarrow:py-2">
		<Slider
			bind:value={position}
			buffered={$bufferedTo}
			max={$duration}
			on:dragstart={startDrag}
			on:dragend={stopDrag}
			tooltipFormatter={formatTime}
			waiting={$playStatus === PlayStatus.Waiting}
		/>
	</div>
	<div class="flex-none text-right font-medium text-sm text-shadow">
		{totalTimeDisplay}
	</div>

	<DropdownButton size="1rem" icon={mdiCog}>
		<div class="absolute bottom-0 right-0 pb-2 z-20">
			<div class="p-3 text-white bg-black/90 rounded-xl space-y-3">
				<ToggleSwitch
					label="Repeat track"
					bind:checked={$repeatTrack}
				/>
				<ToggleSwitch label="Autoplay" bind:checked={$autoplay} />
			</div>
		</div>
	</DropdownButton>
</div>
