<script lang="ts">
    export let id: string;
    export let prefix: string = "";
    export let name: string;
</script>

{#if id}
    <span class="inline-block mr-1">
        <a href="{prefix}{id}" target="_blank" rel="noopener" class="underline">
            {name}
        </a>
    </span>
{/if}
