<script lang="ts">
    import { player } from "./player";
    import { PlayStatus, playStatus } from "./stores";

    let isPlaying = false;

    $: isPlaying = $playStatus !== PlayStatus.None;

    let canvas: HTMLCanvasElement;
    let ctx: CanvasRenderingContext2D;
    let canvasWidth: number;
    let canvasHeight: number;

    let updateCanvasSize = () => {
        canvas.width = canvasWidth;
        canvas.height = canvasHeight;
    };

    $: canvas &&
        (canvasWidth != canvas.width || canvasHeight != canvas.height) &&
        updateCanvasSize();

    let redrawId = null;

    const redrawCanvas = () => {
        if (!canvas) {
            ctx = null;
            redrawId = null;
            return;
        }
        if (!isPlaying) {
            redrawId = null;
            return;
        }
        if (!player.analyser) {
            redrawId = requestAnimationFrame(redrawCanvas);
            return; // FIXME: what we are even drawing without analyser?
        }
        if (!ctx) {
            ctx = canvas.getContext("2d");
        }

        let width = canvas.width;
        let height = canvas.height;

        ctx.clearRect(0, 0, width, height);
        ctx.fillStyle = "rgba(255, 255, 255, 0.7)";
        let fftData = player.analyze();

        let barStep = width / fftData.length;
        let barWidth = barStep / 1.6180339887498948482;

        let x = 0;
        for (let i = 0; i < fftData.length; i++) {
            let a = fftData[i];
            ctx.fillRect(x, (height - a * height) / 2, barWidth, a * height);
            x += barStep;
        }

        redrawId = requestAnimationFrame(redrawCanvas);
    };

    const startRedraw = () => {
        if (redrawId === null) {
            console.log("Start redraw");
            redrawId = requestAnimationFrame(redrawCanvas);
        }
    };

    $: canvas && isPlaying && startRedraw();
</script>

<div
    class="flex-grow relative -mx-4 md:mx-0"
    bind:clientWidth={canvasWidth}
    bind:clientHeight={canvasHeight}
>
    <canvas class="absolute inset-0" bind:this={canvas} />
</div>
