<script lang="ts">
    import { page } from "$app/stores";

    export let href: string;
    export let title: string = null;
    const external = href.startsWith("http://") || href.startsWith("https://");
</script>

<a
    sveltekit:prefetch={external ? undefined : true}
    {href}
    {title}
    target={external ? "_blank" : null}
    class="block flex-grow text-center m-px md:m-0 p-2 uppercase text-shadow rounded md:rounded-b-none
    {$page.url.pathname === href ? 'bg-black' : 'bg-black/80'}"
>
    <slot />
</a>
