<script lang="ts">
    import Icon from "mdi-svelte";
    import {
        mdiSortCalendarAscending,
        mdiSortCalendarDescending,
        mdiSortAlphabeticalAscending,
        mdiSortAlphabeticalDescending,
    } from "@mdi/js";

    export let sorting: "asc" | "desc" | null = null;
    export let mode: "alphabetical" | "calendar" | null = null;
    export let nomobile = false;

    const icons = {
        alphabetical: {
            asc: mdiSortAlphabeticalAscending,
            desc: mdiSortAlphabeticalDescending,
        },
        calendar: {
            asc: mdiSortCalendarAscending,
            desc: mdiSortCalendarDescending,
        },
    };

    let icon: string;

    $: icon = mode && sorting ? icons[mode][sorting] : null;
</script>

<th
    class="relative p-2 md:align-top
    bg-stone-900/50 {mode !== null ? 'hover:bg-stone-900 cursor-pointer' : ''}
    md:first:rounded-tl md:last:rounded-tr font-medium
    {nomobile ? 'hidden md:table-cell' : ''}"
    on:click
>
    {#if icon}
        <div class="absolute right-0 bottom-1 text-stone-700 w-5 h-5">
            <Icon size={0.7} path={icon} />
        </div>
    {/if}
    <div class="z-[1]">
        <slot />
    </div>
</th>
