<script context="module" lang="ts">
    import type { MarkdownContentPage } from "$lib/types";
    import type { Load } from "@sveltejs/kit";
    import { loadContentPage } from "$lib/utils";
    import Head from "../_components/Head.svelte";

    export const load: Load = ({ params, fetch }) => {
        let language = params.language;
        let langPage = language + "/" + params.page;
        return loadContentPage(langPage, fetch);
    };
</script>

<script lang="ts">
    export let page: MarkdownContentPage;
</script>

<Head metadata={page.metadata} />

{@html page.content}
